.gloo-orbitTile{
  height:50%;
  .gloo-orbitTile-orbit{
    background-color: orange;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    font-size:50px;

    width: 30%;
    height: 0;
    padding: 15% 0; // must be half of width
  }

  .gloo-orbitTile-innerText{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }




}