<span class="gloo-layoutFixedFooter">
    <div class="gloo-layoutFixedFooter-wrap">

        {{#block "body"}}{{/block}}

        <div class="gloo-layoutFixedFooter-push"></div>
    </div>
    <div class="gloo-layoutFixedFooter-footer">

        {{#block "footer"}}{{/block}}

    </div>
</span>