$gloo-fixedFooter-footer-height:6.250em !default;

.gloo-layoutFixedFooter{
  .gloo-layoutFixedFooter-wrap {
    margin: 0 auto -100px; /* Negative indent by footer height. Don't change 0 and auto */
    min-height: 100%;
    height: auto !important;
  }

  .gloo-layoutFixedFooter-push {
    height: $gloo-fixedFooter-footer-height / 2;
  }

  .gloo-layoutFixedFooter-footer {
    height: $gloo-fixedFooter-footer-height;
    margin-top:$gloo-fixedFooter-footer-height;
    background-color: orange;
    width:100%;
    clear: both;
    position: relative;
  }


  /*
      These things should be set globally
  */
  //html { height :100%; padding:0;margin:0; } /* forces vertical scroll bar */
  //body { height :100%; } /* bootstrap doesn't permit setting padding or margin here*/
}