.gloo-hexagon {

  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
  width:75px;
  height:75px;

  .gloo-hexagon-inner{
    background-color: orange;

    height: 100%;
    width: 57.735%;
    display: inline-block;
    &:before {
      position: absolute;
      top: 0;
      right: 21.1325%;
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotate(60deg);
    }

    &:after {
      position: absolute;
      top: 0;
      right: 21.1325%;
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotate(-60deg);
    }

  }

  &:hover{
    .gloo-hexagon-inner{
      background-color: black;
    }
  }

  .gloo-hexagon-content{
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
