.gloo-gradientFooter{
  $gloo-gradientFooter-shadow:0px 0px 20px 0px rgba(50, 50, 51, 0.75);
  -webkit-box-shadow:$gloo-gradientFooter-shadow;
  -moz-box-shadow:$gloo-gradientFooter-shadow;
  box-shadow:$gloo-gradientFooter-shadow;
  min-height:gloo-utils-toEm(80px);
  background-color:#F3FFE2;
}